<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>登录</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="assets/styles.css" rel="stylesheet" media="screen">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body id="login">
<div class="container">
    <div class="row-fluid">

        <div class="span4">
            <form class="form-signin" action="#">
                <h2 class="form-signin-heading">注册</h2>
                <input type="text" class="input-block-level" id="userName" placeholder="请输入姓名">
                <input type="text" class="input-block-level" id="userCode" placeholder="请输入账号">
                <input type="password" class="input-block-level" id="userPassword" placeholder="请输入密码">
                <input type="password" class="input-block-level" placeholder="请确认密码">
                <input type="text" class="input-block-level" id="userPhone" placeholder="请输入手机号码">
                <div class="form-group">
                    <p>已有账号? <a href="./login.html" th:href="@{/}">点击登录</a></p>
                </div>
                <div class="form-group">
                    <p><b>点击注册前请先拍一张照片</b></p>
                </div>
                <button class="btn btn-large btn-primary" type="button" onclick="register()">注册</button>
            </form>
        </div>
        <div class="span4">
            <form id="sxt" class="form-signin" action="#">
                <h2 class="form-signin-heading">请正对屏幕</h2>
                <div class="form-group">
                    <video id="video" width="300" height="280" autoplay></video>
                </div>

                <button class="btn btn-large btn-primary"  id="snap"  type="button">拍照</button>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">×
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    提示
                                </h4>
                            </div>
                            <div class="modal-body" id="myModalBody" style="text-align: center">

                            </div>
                            <div class="modal-footer">
                                <button type="button" onclick="window.location.reload()" class="btn btn-default"
                                        data-dismiss="modal">关闭
                                </button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

            </form>
        </div>
        <div class="span4">
            <form id="pic" style="display: none"  class="form-signin" action="#">
                <h2 class="form-signin-heading">已拍摄的照片</h2>
                <!--<canvas id="canvas" width="500px" height="500px"></canvas>-->
                <div class="form-group">
                    <canvas style="" id="canvas" width="320" height="320"></canvas>
                </div>
            </form>
        </div>
    </div>


</div> <!-- /container -->
<script src="vendors/jquery-1.9.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script>
    var image;
    //判断浏览器是否支持HTML5 Canvas
    window.onload = function () {
        try {
            //动态创建一个canvas元 ，并获取他2Dcontext。如果出现异常则表示不支持 document.createElement("canvas").getContext("2d");
            // document.getElementById("support").innerHTML = "浏览器支持HTML5 CANVAS";
        }
        catch (e) {
            // document.getElementByIdx("support").innerHTML = "浏览器不支持HTML5 CANVAS";
        }
    };
    //这段代 主要是获取摄像头的视频流并显示在Video 签中
    window.addEventListener("DOMContentLoaded", function () {
        var canvas = document.getElementById("canvas"),
            context = canvas.getContext("2d"),
            video = document.getElementById("video"),
            videoObj = {"video": true},
            errBack = function (error) {
                console.log("Video capture error: ", error.code);
            };
        $("#snap").click(function () {
            context.drawImage(video, 0, 0, 300, 220);
            document.getElementById('pic').style.display = "";
            var canvans = document.getElementById("canvas");
            //获取浏览器页面的画布对象
            //以下开始编 数据
            var imgData = canvans.toDataURL();
            //将图像转换为base64数据
            image = imgData.substr(22);
            console.log(image);
            document.getElementById('pic').style.display = "";
        });
        //navigator.getUserMedia这个写法在Opera中好像是navigator.getUserMedianow
        if (navigator.getUserMedia) {
            navigator.getUserMedia(videoObj, function (stream) {
                video.srcObject = stream;
                video.play();
            }, errBack);
        } else if (navigator.webkitGetUserMedia) {
            navigator.webkitGetUserMedia(videoObj, function (stream) {
                video.src = window.webkitURL.createObjectURL(stream);
                video.play();
            }, errBack);
        }

    }, false);


    function register() {
        var formData = new FormData();
        formData.append("userCode",$("#userCode").val());
        formData.append("userName",$("#userName").val());
        formData.append("userPhone",$("#userPhone").val());
        formData.append("userPassword",$("#userPassword").val());
        formData.append("image",image);
        $.ajax({
            type: "POST",  //使用提交的方法 post、get
            url: "/addFace",   //提交的地址
            data: formData,  //数据
            async: false,   //配置是否异步操作
            dataType: "json",//返回数据类型的格式
            processData: false,
            contentType: false,
            success: function (data) {  //回调操作

                let state = data.error_code;
                if (state === 8001) {
                    $('#myModalBody').html('注册成功，现在可以去登录了');
                } else {
                    $('#myModalBody').html(data.error_msg)
                }
                $('#myModal').modal('show')
            }
        });
    }
</script>
</body>
</html>